@{
    ViewBag.Title = "产品新增";
    Dictionary<string, string> dicProductType = new Dictionary<string, string>();
    dicProductType.Add("前刹车片", "前刹车片");
    dicProductType.Add("后刹车片", "后刹车片");
}


<div class="container">
    <h2>添加产品</h2>

    @{Html.BeginForm("Add", "Product");}

    <div class="input-group input-group-lg col-lg-10">
        <span class="input-group-addon" id="sizing-addon1">产品名称</span>
        <input type="text" class="form-control" name="ProductName" aria-describedby="sizing-addon1">

        <span class="input-group-addon">刹车片类型</span>
        @Html.Bootstrap().Select("ProductType", null, dicProductType)
    </div>

    <br />
    <div class="input-group input-group-lg col-lg-10">
        <span class="input-group-addon" id="sizing-addon1">适合车型</span>
        <input type="text" class="form-control" name="SuitCar" aria-describedby="sizing-addon1">

        <span class="input-group-addon">型号</span>
        @Html.TextBox("CarXingHao", null, new { @class = "form-control" })

        <span class="input-group-addon">排量</span>
        @Html.TextBox("PaiLiang", null, new { @class = "form-control", type = "number", step = "0.1" })

        <span class="input-group-addon">出厂年份</span>
        @Html.TextBox("FactoryYear", null, new { @class = "form-control", type = "number" })
    </div>
    <br />

    <div class="input-group input-group-lg col-lg-10">
        <span class="input-group-addon" id="sizing-addon1">产品价格(元)</span>
        <input type="number" class="form-control" name="DisplayPrice" aria-describedby="sizing-addon1">

        <span class="input-group-addon">库存</span>
        @Html.TextBox("Stock", null, new { @class = "form-control", type = "number" })
    </div>

    <br />
    <span class="h4">产品详情</span>
    @Html.TextArea("content", new { style = "width:900px;height:500px" })
    <br />
    <input type="submit" value="提交" class="btn btn-primary"/>

    @{Html.EndForm();}

</div>

@section js{
<script type="text/javascript" src="@Url.Content("~/Kindeditor/kindeditor-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Kindeditor/lang/zh_CN.js")"></script>
<script type="text/javascript">
            var editor;
            KindEditor.ready(function (K) {
                editor = K.create('textarea[name="content"]', {
                    resizeType: 1,
                    allowFileManager : true,
                    uploadJson: '@Url.Content("~/Kindeditor/Upload.ashx")',
                    fileManagerJson:'@Url.Content("~/Kindeditor/FileManager.ashx")'

                });
            });
</script>
}