@{
    ViewBag.Title = "Edit";
}

<h2>编辑产品</h2>

@{Html.BeginForm("Update", "Product");}

产品名称：
@Html.TextBox("ProductName")
<br />

适合车型：
@Html.TextBox("SuitCar")
<br />

产品价格：
@Html.TextBox("DisplayPrice")

<br />
产品详情：
@Html.TextArea("content", new { style = "width:750px;height:400px" })


@Html.Hidden("ProductID")
@Html.Hidden("AddTime")

<input type="submit" value="提交" />

@{Html.EndForm();}


@section js{
    <script type="text/javascript" src="@Url.Content("~/Kindeditor/kindeditor-min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Kindeditor/lang/zh_CN.js")"></script>
    <script type="text/javascript">
            var editor;
            KindEditor.ready(function (K) {
                editor = K.create('textarea[name="content"]', {
                    resizeType: 1,
                    allowFileManager : true,
                    uploadJson: '@Url.Content("~/Kindeditor/Upload.ashx")',
                    fileManagerJson:'@Url.Content("~/Kindeditor/FileManager.ashx")'

                });
            });
    </script>
}
