@{
    ViewBag.Title = "Edit";
}

<div class="container">
    <h2>编辑产品</h2>

    @{Html.BeginForm("Update", "Product");}

    <div class="input-group input-group-lg col-lg-6">
        <span class="input-group-addon" id="sizing-addon1">产品名称</span>
        @Html.TextBox("ProductName", null, new { @class = "form-control" })
    </div>
    <br />

    <div class="input-group input-group-lg col-lg-6">
        <span class="input-group-addon" id="sizing-addon1">适合车型</span>
        @Html.TextBox("SuitCar", null, new { @class = "form-control" })
    </div>
    <br />

    <div class="input-group input-group-lg col-lg-6">
        <span class="input-group-addon" id="sizing-addon1">产品价格(元)</span>
        @Html.TextBox("DisplayPrice", null, new { @class = "form-control", type = "number" })
    </div>

    <br />
    <span class="h4">产品详情</span>
    @Html.TextArea("content", new { style = "width:900px;height:500px" })


    @Html.Hidden("ProductID")
    @Html.Hidden("AddTime")

    <br />
    <input type="submit" value="提交" class="btn btn-primary" />

    @{Html.EndForm();}

</div>

@section js{
    <script type="text/javascript" src="@Url.Content("~/Kindeditor/kindeditor-min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Kindeditor/lang/zh_CN.js")"></script>
    <script type="text/javascript">
            var editor;
            KindEditor.ready(function (K) {
                editor = K.create('textarea[name="content"]', {
                    resizeType: 1,
                    allowFileManager : true,
                    uploadJson: '@Url.Content("~/Kindeditor/Upload.ashx")',
                    fileManagerJson:'@Url.Content("~/Kindeditor/FileManager.ashx")'

                });
            });
    </script>
}
