@{
    @model IEnumerable<MyFluentBootstrap.Models.Product>
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>商品列表</h2>
<hr />
<table border="1">
    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.ActionLink("编辑", "Edit", new { id = item.ProductID }) |
                @Html.ActionLink("查看明细", "Details", new { id = item.ProductID }) |
                @Html.ActionLink("删除", "Delete", new { id = item.ProductID })
            </td>
            <td>
                @item.ProductID
            </td>
            <td>
                @item.ProductName
            </td>
            <td>
                @item.AddTime
            </td>
            <td>
                @String.Format("{0:c2}", item.DisplayPrice)
            </td>
        </tr>
    }
</table>
<hr />
<div>
    @*<a href='/Product/Create' target='_blank'>添加产品</a>*@
    @Html.ActionLink("添加产品", "Create", null, new { target = "_blank" })
</div>